.dashboard{
  background-image: url(img/background_dashboard_small.jpg);

}

.overlay {
  color:#fff;
  position:absolute;
  z-index:12;
  top:50%;
  left:0;
  width:100%;
  text-align:center;
}

a.button2{
 display:inline-block;
 padding:0.5em 3em;
 border:0.16em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 box-sizing: border-box;
 text-decoration:none;
 text-transform:uppercase;
 font-family:'Roboto',sans-serif;
 font-weight:400;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.15s;
}
a.button2:hover{
 color:#DDDDDD;
 border-color:#DDDDDD;
}
a.button2:active{
 color:#BBBBBB;
 border-color:#BBBBBB;
}
@media all and (max-width:30em){
 a.button2{
  display:block;
  margin:0.4em auto;
 }
}
/* for tablets and smartphones, remove the floats above */

@media (max-width: 790px){
#button_content{
width:100%;
float:inherit;
}
#img1{
  height:30px;
}
#img2{
  height:30px;
}
#attensions{
width:100%
float:inherit;
}

}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  padding: 0 2em;
  font-size: 1.3em;
  font-family: 'Roboto', 'sans-serif';
  color: white;
  background: black;
  input-placeholder: red;
}
h1 { color: papayawhip }


/* List styling */
.featureList, .featureList ul {
  margin-top: 0;
  padding-left: 2em;
  list-style-type: none;
}
.featureList li:before {
  position: absolute;
  margin-left: -1.3em;
  font-weight: bold;
}
.featureList li.tick:before {
  content: "\2713";
  color: darkgreen;
}
.featureList li.cross:before {
  content: "\2717";
  color: crimson;
}
/* <!-- entry page ordered list --> */
li.entry{
  /* list-style-type: none; */
}
li.entry:before{
content: “\f00c";
font-family: “FontAwesome”;
width: 10px;
height: 10px;
margin-right: 5px;
}
