<style>
@font-face {
    font-family: GTWalsham_med;
    src: url("{{asset('fonts/GT-Walsheim-Pro-Trial-Condensed-Medium.otf')}}") format("opentype");
}
@font-face {
    font-family: GTWalsham_reg;
    src: url("{{asset('fonts/GT-Walsheim-Pro-Trial-Condensed-Regular.otf')}}") format("opentype");
}
#23andme_button{
  margin-bottom: 15px;
  margin: 10px;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
</style>
